*{padding:0;margin:0;}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}




div
{
  display: block;
}
.top
{
	width: 100%;
	height: 64px;
}
.top>.title
{
	float: right;
}
.top>.title>span
{
	line-height: 24px;
	float: right;
}
.top>.title>span>a
{
	font-size: 13px;
	
	color: #333;
	margin-left: 20px;
	float: left;

}
.top>.title>span>.menu
{
	font-weight: 700;
}
.list
{
	width: 60px;
	height: 23px;
	color: #fff;
	background: #38f;
	line-height: 24px;
	font-size: 13px;
	text-align: center;
	margin-left: 19px;
	margin-right: 2px;
	border: 0;
}
.pic
{
	text-align: center;
	margin-bottom: 30px;
}
.logo
{
	height: 129px;
	width: 270px;
}
.search
{
	text-align: center;
}
.input
{
	    width: 540px;
    border: 1px solid #ccc;
    height: 34px;
}
.btn
{
	    border: 0;
    width: 100px;
    height: 37px;
    background: #36F;
    color: #fff;
    font-size: 15px;
    /* margin-left: -8px; */
    vertical-align: middle;
}
.qrcodeCon
{
	text-align: center;
	position: absolute;
	bottom: 140px;
	height: 60px;
	width: 100%;
}
.qrcode-text
{
	font-size: 13px;
	line-height: 13px;
	margin: 3px 0 0 5px;
}
.foot
{
	width: 100%;
	position: absolute;
	color: #999;
	font-size: 13px;

}
.foot>.link
{
    text-align: center;
    margin-bottom: 10px;
}
.foot>.link>a
{
	text-decoration: underline;
}
.copyright>p
{
	text-align: center;
}
